<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<!-- 不使用namespace的话sql搜索定位会比较方便 -->

<mapper namespace="com.smelter.dao.test.BeftenderMapper">
	<resultMap id="BaseResultMap" type="com.smelter.model.test.Beftender">
			<result property="id" column="id"/>
			<result property="uuid" column="uuid"/>
			<result property="uid" column="uid"/>
			<result property="ttype" column="ttype"/>
			<result property="title" column="title"/>
			<result property="amount" column="amount"/>
			<result property="interestrate" column="interestrate"/>
			<result property="phases" column="phases"/>
			<result property="repaymenttype" column="repaymenttype"/>
			<result property="provincecode" column="provincecode"/>
			<result property="provincename" column="provincename"/>
			<result property="citycode" column="citycode"/>
			<result property="cityname" column="cityname"/>
			<result property="countycode" column="countycode"/>
			<result property="countyname" column="countyname"/>
			<result property="origin" column="origin"/>
			<result property="parentProvincecode" column="parent_provincecode"/>
			<result property="parentCitycode" column="parent_citycode"/>
			<result property="parentCountycode" column="parent_countycode"/>
			<result property="education" column="education"/>
			<result property="industry" column="industry"/>
			<result property="marriage" column="marriage"/>
			<result property="peiouname" column="peiouname"/>
			<result property="peiouidcard" column="peiouidcard"/>
			<result property="peioutel" column="peioutel"/>
			<result property="idcard" column="idcard"/>
			<result property="address" column="address"/>
			<result property="company" column="company"/>
			<result property="companytele" column="companytele"/>
			<result property="companyaddr" column="companyaddr"/>
			<result property="currentaddr" column="currentaddr"/>
			<result property="homevisitsaadr" column="homevisitsaadr"/>
			<result property="homevisitsfrom" column="homevisitsfrom"/>
			<result property="homevisitsto" column="homevisitsto"/>
			<result property="lsreaded" column="lsreaded"/>
			<result property="agentid" column="agentid"/>
			<result property="tid" column="tid"/>
			<result property="homevisitover" column="homevisitover"/>
			<result property="agentName" column="agentName"/>
			<result property="agentcontactsName" column="agentcontactsName"/>
			<result property="agentContactsMobile" column="agentContactsMobile"/>
			<result property="agentaddress" column="agentaddress"/>
			<result property="hits" column="hits"/>
			<result property="updateTime" column="update_time"/>
			<result property="createTime" column="create_time"/>
	</resultMap>
	
	 <sql id="Example_Where_Clause" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Apr 21 10:36:00 CST 2015.
    -->
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition} 
                </when>
                <when test="criterion.singleValue" >
                   and ${criterion.condition} #{criterion.value} 
                </when>
                <when test="criterion.betweenValue" >
					 and ${criterion.condition} #{criterion.value} and #{criterion.secondValue} 
                </when>
                <when test="criterion.listValue" >
                   and ${criterion.condition} 
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem} 
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  

  
  <sql id="Update_By_Example_Where_Clause" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Apr 21 10:36:00 CST 2015.
    -->
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                   and ${criterion.condition} 
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value} 
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue} 
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition} 
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                     #{listItem}  
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Apr 21 10:36:00 CST 2015.
    -->
		id,
		uuid,
		uid,
		ttype,
		title,
		amount,
		interestrate,
		phases,
		repaymenttype,
		provincecode,
		provincename,
		citycode,
		cityname,
		countycode,
		countyname,
		origin,
		parent_provincecode,
		parent_citycode,
		parent_countycode,
		education,
		industry,
		marriage,
		peiouname,
		peiouidcard,
		peioutel,
		idcard,
		address,
		company,
		companytele,
		companyaddr,
		currentaddr,
		homevisitsaadr,
		homevisitsfrom,
		homevisitsto,
		lsreaded,
		agentid,
		tid,
		homevisitover,
		agentName,
		agentcontactsName,
		agentContactsMobile,
		agentaddress,
		hits,
		update_time,
		create_time
  </sql>
  
  <sql id="Base_Column_List_NOPK" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Apr 21 10:36:00 CST 2015.
    -->
		uuid,
		uid,
		ttype,
		title,
		amount,
		interestrate,
		phases,
		repaymenttype,
		provincecode,
		provincename,
		citycode,
		cityname,
		countycode,
		countyname,
		origin,
		parent_provincecode,
		parent_citycode,
		parent_countycode,
		education,
		industry,
		marriage,
		peiouname,
		peiouidcard,
		peioutel,
		idcard,
		address,
		company,
		companytele,
		companyaddr,
		currentaddr,
		homevisitsaadr,
		homevisitsfrom,
		homevisitsto,
		lsreaded,
		agentid,
		tid,
		homevisitover,
		agentName,
		agentcontactsName,
		agentContactsMobile,
		agentaddress,
		hits,
		update_time,
		create_time
  </sql>
  
    <select id="selectByExample" 
		resultMap="BaseResultMap" parameterType="com.smelter.model.test.BeftenderExample" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Apr 21 10:36:00 CST 2015.
    -->
	
	
		
         select
			<if test="distinct" >
			  distinct
			</if>
			<include refid="Base_Column_List" />
			from d_beftender
			<if test="_parameter != null" >
			  <include refid="Example_Where_Clause" />
			</if>
			<if test="orderByClause != null" >
			  order by ${orderByClause} 
			</if>
			
	
   </select>
      
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Apr 21 10:36:00 CST 2015.
    -->

		select 
		<include refid="Base_Column_List" />
		from d_beftender
		 where id = #{id}
	

  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Apr 21 10:36:00 CST 2015.
    -->
	<![CDATA[
		delete from d_beftender
		 where id = #{id}
	]]>
  </delete>
  
  
   <delete id="deleteByExample" parameterType="com.smelter.model.test.BeftenderExample" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Apr 21 10:36:00 CST 2015.
    -->

		delete from d_beftender
		<if test="_parameter != null" >
		  <include refid="Example_Where_Clause" />
		</if>
    
   </delete>
  
  
  <insert id="insert" parameterType="com.smelter.model.test.Beftender" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Apr 21 10:36:00 CST 2015.
    -->
		<selectKey resultType="java.lang.Integer" keyProperty="id" >
		  SELECT LAST_INSERT_ID()
		</selectKey>
    insert ignore into d_beftender 
	( <include refid="Base_Column_List" /> )
    values (
			#{id} ,
			#{uuid} ,
			#{uid} ,
			#{ttype} ,
			#{title} ,
			#{amount} ,
			#{interestrate} ,
			#{phases} ,
			#{repaymenttype} ,
			#{provincecode} ,
			#{provincename} ,
			#{citycode} ,
			#{cityname} ,
			#{countycode} ,
			#{countyname} ,
			#{origin} ,
			#{parentProvincecode} ,
			#{parentCitycode} ,
			#{parentCountycode} ,
			#{education} ,
			#{industry} ,
			#{marriage} ,
			#{peiouname} ,
			#{peiouidcard} ,
			#{peioutel} ,
			#{idcard} ,
			#{address} ,
			#{company} ,
			#{companytele} ,
			#{companyaddr} ,
			#{currentaddr} ,
			#{homevisitsaadr} ,
			#{homevisitsfrom} ,
			#{homevisitsto} ,
			#{lsreaded} ,
			#{agentid} ,
			#{tid} ,
			#{homevisitover} ,
			#{agentName} ,
			#{agentcontactsName} ,
			#{agentContactsMobile} ,
			#{agentaddress} ,
			#{hits} ,
			#{updateTime} ,
			#{createTime} 
      )

  </insert>
  
  <insert id="insertSelective" parameterType="com.smelter.model.test.Beftender" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Apr 21 10:36:00 CST 2015.
    -->
		<selectKey resultType="java.lang.Integer" keyProperty="id" >
		  SELECT LAST_INSERT_ID()
		</selectKey>
    insert ignore into d_beftender
    <trim prefix="(" suffix=")" suffixOverrides="," >
	
		<if test="id != null" >id,</if>
		<if test="uuid != null" >uuid,</if>
		<if test="uid != null" >uid,</if>
		<if test="ttype != null" >ttype,</if>
		<if test="title != null" >title,</if>
		<if test="amount != null" >amount,</if>
		<if test="interestrate != null" >interestrate,</if>
		<if test="phases != null" >phases,</if>
		<if test="repaymenttype != null" >repaymenttype,</if>
		<if test="provincecode != null" >provincecode,</if>
		<if test="provincename != null" >provincename,</if>
		<if test="citycode != null" >citycode,</if>
		<if test="cityname != null" >cityname,</if>
		<if test="countycode != null" >countycode,</if>
		<if test="countyname != null" >countyname,</if>
		<if test="origin != null" >origin,</if>
		<if test="parentProvincecode != null" >parent_provincecode,</if>
		<if test="parentCitycode != null" >parent_citycode,</if>
		<if test="parentCountycode != null" >parent_countycode,</if>
		<if test="education != null" >education,</if>
		<if test="industry != null" >industry,</if>
		<if test="marriage != null" >marriage,</if>
		<if test="peiouname != null" >peiouname,</if>
		<if test="peiouidcard != null" >peiouidcard,</if>
		<if test="peioutel != null" >peioutel,</if>
		<if test="idcard != null" >idcard,</if>
		<if test="address != null" >address,</if>
		<if test="company != null" >company,</if>
		<if test="companytele != null" >companytele,</if>
		<if test="companyaddr != null" >companyaddr,</if>
		<if test="currentaddr != null" >currentaddr,</if>
		<if test="homevisitsaadr != null" >homevisitsaadr,</if>
		<if test="homevisitsfrom != null" >homevisitsfrom,</if>
		<if test="homevisitsto != null" >homevisitsto,</if>
		<if test="lsreaded != null" >lsreaded,</if>
		<if test="agentid != null" >agentid,</if>
		<if test="tid != null" >tid,</if>
		<if test="homevisitover != null" >homevisitover,</if>
		<if test="agentName != null" >agentName,</if>
		<if test="agentcontactsName != null" >agentcontactsName,</if>
		<if test="agentContactsMobile != null" >agentContactsMobile,</if>
		<if test="agentaddress != null" >agentaddress,</if>
		<if test="hits != null" >hits,</if>
		<if test="updateTime != null" >update_time,</if>
		<if test="createTime != null" >create_time,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
	  
		<if test="id != null" >#{id},</if>
		<if test="uuid != null" >#{uuid},</if>
		<if test="uid != null" >#{uid},</if>
		<if test="ttype != null" >#{ttype},</if>
		<if test="title != null" >#{title},</if>
		<if test="amount != null" >#{amount},</if>
		<if test="interestrate != null" >#{interestrate},</if>
		<if test="phases != null" >#{phases},</if>
		<if test="repaymenttype != null" >#{repaymenttype},</if>
		<if test="provincecode != null" >#{provincecode},</if>
		<if test="provincename != null" >#{provincename},</if>
		<if test="citycode != null" >#{citycode},</if>
		<if test="cityname != null" >#{cityname},</if>
		<if test="countycode != null" >#{countycode},</if>
		<if test="countyname != null" >#{countyname},</if>
		<if test="origin != null" >#{origin},</if>
		<if test="parentProvincecode != null" >#{parentProvincecode},</if>
		<if test="parentCitycode != null" >#{parentCitycode},</if>
		<if test="parentCountycode != null" >#{parentCountycode},</if>
		<if test="education != null" >#{education},</if>
		<if test="industry != null" >#{industry},</if>
		<if test="marriage != null" >#{marriage},</if>
		<if test="peiouname != null" >#{peiouname},</if>
		<if test="peiouidcard != null" >#{peiouidcard},</if>
		<if test="peioutel != null" >#{peioutel},</if>
		<if test="idcard != null" >#{idcard},</if>
		<if test="address != null" >#{address},</if>
		<if test="company != null" >#{company},</if>
		<if test="companytele != null" >#{companytele},</if>
		<if test="companyaddr != null" >#{companyaddr},</if>
		<if test="currentaddr != null" >#{currentaddr},</if>
		<if test="homevisitsaadr != null" >#{homevisitsaadr},</if>
		<if test="homevisitsfrom != null" >#{homevisitsfrom},</if>
		<if test="homevisitsto != null" >#{homevisitsto},</if>
		<if test="lsreaded != null" >#{lsreaded},</if>
		<if test="agentid != null" >#{agentid},</if>
		<if test="tid != null" >#{tid},</if>
		<if test="homevisitover != null" >#{homevisitover},</if>
		<if test="agentName != null" >#{agentName},</if>
		<if test="agentcontactsName != null" >#{agentcontactsName},</if>
		<if test="agentContactsMobile != null" >#{agentContactsMobile},</if>
		<if test="agentaddress != null" >#{agentaddress},</if>
		<if test="hits != null" >#{hits},</if>
		<if test="updateTime != null" >#{updateTime},</if>
		<if test="createTime != null" >#{createTime},</if>
    </trim>
  </insert>
  
  <select id="countByExample" parameterType="com.smelter.model.test.BeftenderExample" resultType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Apr 21 10:36:00 CST 2015.
    -->
    select count(*) from d_beftender
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
  
  
  <update id="updateByExampleSelective" parameterType="map" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Apr 21 10:36:00 CST 2015.
    -->
    update d_beftender
    <set>
		
			<if test="record.id != null" >
				id = #{record.id} ,
			</if>
			<if test="record.uuid != null" >
				uuid = #{record.uuid} ,
			</if>
			<if test="record.uid != null" >
				uid = #{record.uid} ,
			</if>
			<if test="record.ttype != null" >
				ttype = #{record.ttype} ,
			</if>
			<if test="record.title != null" >
				title = #{record.title} ,
			</if>
			<if test="record.amount != null" >
				amount = #{record.amount} ,
			</if>
			<if test="record.interestrate != null" >
				interestrate = #{record.interestrate} ,
			</if>
			<if test="record.phases != null" >
				phases = #{record.phases} ,
			</if>
			<if test="record.repaymenttype != null" >
				repaymenttype = #{record.repaymenttype} ,
			</if>
			<if test="record.provincecode != null" >
				provincecode = #{record.provincecode} ,
			</if>
			<if test="record.provincename != null" >
				provincename = #{record.provincename} ,
			</if>
			<if test="record.citycode != null" >
				citycode = #{record.citycode} ,
			</if>
			<if test="record.cityname != null" >
				cityname = #{record.cityname} ,
			</if>
			<if test="record.countycode != null" >
				countycode = #{record.countycode} ,
			</if>
			<if test="record.countyname != null" >
				countyname = #{record.countyname} ,
			</if>
			<if test="record.origin != null" >
				origin = #{record.origin} ,
			</if>
			<if test="record.parentProvincecode != null" >
				parent_provincecode = #{record.parentProvincecode} ,
			</if>
			<if test="record.parentCitycode != null" >
				parent_citycode = #{record.parentCitycode} ,
			</if>
			<if test="record.parentCountycode != null" >
				parent_countycode = #{record.parentCountycode} ,
			</if>
			<if test="record.education != null" >
				education = #{record.education} ,
			</if>
			<if test="record.industry != null" >
				industry = #{record.industry} ,
			</if>
			<if test="record.marriage != null" >
				marriage = #{record.marriage} ,
			</if>
			<if test="record.peiouname != null" >
				peiouname = #{record.peiouname} ,
			</if>
			<if test="record.peiouidcard != null" >
				peiouidcard = #{record.peiouidcard} ,
			</if>
			<if test="record.peioutel != null" >
				peioutel = #{record.peioutel} ,
			</if>
			<if test="record.idcard != null" >
				idcard = #{record.idcard} ,
			</if>
			<if test="record.address != null" >
				address = #{record.address} ,
			</if>
			<if test="record.company != null" >
				company = #{record.company} ,
			</if>
			<if test="record.companytele != null" >
				companytele = #{record.companytele} ,
			</if>
			<if test="record.companyaddr != null" >
				companyaddr = #{record.companyaddr} ,
			</if>
			<if test="record.currentaddr != null" >
				currentaddr = #{record.currentaddr} ,
			</if>
			<if test="record.homevisitsaadr != null" >
				homevisitsaadr = #{record.homevisitsaadr} ,
			</if>
			<if test="record.homevisitsfrom != null" >
				homevisitsfrom = #{record.homevisitsfrom} ,
			</if>
			<if test="record.homevisitsto != null" >
				homevisitsto = #{record.homevisitsto} ,
			</if>
			<if test="record.lsreaded != null" >
				lsreaded = #{record.lsreaded} ,
			</if>
			<if test="record.agentid != null" >
				agentid = #{record.agentid} ,
			</if>
			<if test="record.tid != null" >
				tid = #{record.tid} ,
			</if>
			<if test="record.homevisitover != null" >
				homevisitover = #{record.homevisitover} ,
			</if>
			<if test="record.agentName != null" >
				agentName = #{record.agentName} ,
			</if>
			<if test="record.agentcontactsName != null" >
				agentcontactsName = #{record.agentcontactsName} ,
			</if>
			<if test="record.agentContactsMobile != null" >
				agentContactsMobile = #{record.agentContactsMobile} ,
			</if>
			<if test="record.agentaddress != null" >
				agentaddress = #{record.agentaddress} ,
			</if>
			<if test="record.hits != null" >
				hits = #{record.hits} ,
			</if>
			<if test="record.updateTime != null" >
				update_time = #{record.updateTime} ,
			</if>
			<if test="record.createTime != null" >
				create_time = #{record.createTime} 
			</if>
      
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  
  <update id="updateByExample" parameterType="map" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Apr 21 10:36:00 CST 2015.
    -->
    update d_beftender
    set 
		id = #{id} ,
		uuid = #{uuid} ,
		uid = #{uid} ,
		ttype = #{ttype} ,
		title = #{title} ,
		amount = #{amount} ,
		interestrate = #{interestrate} ,
		phases = #{phases} ,
		repaymenttype = #{repaymenttype} ,
		provincecode = #{provincecode} ,
		provincename = #{provincename} ,
		citycode = #{citycode} ,
		cityname = #{cityname} ,
		countycode = #{countycode} ,
		countyname = #{countyname} ,
		origin = #{origin} ,
		parent_provincecode = #{parentProvincecode} ,
		parent_citycode = #{parentCitycode} ,
		parent_countycode = #{parentCountycode} ,
		education = #{education} ,
		industry = #{industry} ,
		marriage = #{marriage} ,
		peiouname = #{peiouname} ,
		peiouidcard = #{peiouidcard} ,
		peioutel = #{peioutel} ,
		idcard = #{idcard} ,
		address = #{address} ,
		company = #{company} ,
		companytele = #{companytele} ,
		companyaddr = #{companyaddr} ,
		currentaddr = #{currentaddr} ,
		homevisitsaadr = #{homevisitsaadr} ,
		homevisitsfrom = #{homevisitsfrom} ,
		homevisitsto = #{homevisitsto} ,
		lsreaded = #{lsreaded} ,
		agentid = #{agentid} ,
		tid = #{tid} ,
		homevisitover = #{homevisitover} ,
		agentName = #{agentName} ,
		agentcontactsName = #{agentcontactsName} ,
		agentContactsMobile = #{agentContactsMobile} ,
		agentaddress = #{agentaddress} ,
		hits = #{hits} ,
		update_time = #{updateTime} ,
		create_time = #{createTime} 
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.smelter.model.test.Beftender" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Apr 21 10:36:00 CST 2015.
    -->
    update d_beftender
    <set >
			<if test="uuid != null" >uuid = #{uuid},</if>			
			<if test="uid != null" >uid = #{uid},</if>			
			<if test="ttype != null" >ttype = #{ttype},</if>			
			<if test="title != null" >title = #{title},</if>			
			<if test="amount != null" >amount = #{amount},</if>			
			<if test="interestrate != null" >interestrate = #{interestrate},</if>			
			<if test="phases != null" >phases = #{phases},</if>			
			<if test="repaymenttype != null" >repaymenttype = #{repaymenttype},</if>			
			<if test="provincecode != null" >provincecode = #{provincecode},</if>			
			<if test="provincename != null" >provincename = #{provincename},</if>			
			<if test="citycode != null" >citycode = #{citycode},</if>			
			<if test="cityname != null" >cityname = #{cityname},</if>			
			<if test="countycode != null" >countycode = #{countycode},</if>			
			<if test="countyname != null" >countyname = #{countyname},</if>			
			<if test="origin != null" >origin = #{origin},</if>			
			<if test="parentProvincecode != null" >parent_provincecode = #{parentProvincecode},</if>			
			<if test="parentCitycode != null" >parent_citycode = #{parentCitycode},</if>			
			<if test="parentCountycode != null" >parent_countycode = #{parentCountycode},</if>			
			<if test="education != null" >education = #{education},</if>			
			<if test="industry != null" >industry = #{industry},</if>			
			<if test="marriage != null" >marriage = #{marriage},</if>			
			<if test="peiouname != null" >peiouname = #{peiouname},</if>			
			<if test="peiouidcard != null" >peiouidcard = #{peiouidcard},</if>			
			<if test="peioutel != null" >peioutel = #{peioutel},</if>			
			<if test="idcard != null" >idcard = #{idcard},</if>			
			<if test="address != null" >address = #{address},</if>			
			<if test="company != null" >company = #{company},</if>			
			<if test="companytele != null" >companytele = #{companytele},</if>			
			<if test="companyaddr != null" >companyaddr = #{companyaddr},</if>			
			<if test="currentaddr != null" >currentaddr = #{currentaddr},</if>			
			<if test="homevisitsaadr != null" >homevisitsaadr = #{homevisitsaadr},</if>			
			<if test="homevisitsfrom != null" >homevisitsfrom = #{homevisitsfrom},</if>			
			<if test="homevisitsto != null" >homevisitsto = #{homevisitsto},</if>			
			<if test="lsreaded != null" >lsreaded = #{lsreaded},</if>			
			<if test="agentid != null" >agentid = #{agentid},</if>			
			<if test="tid != null" >tid = #{tid},</if>			
			<if test="homevisitover != null" >homevisitover = #{homevisitover},</if>			
			<if test="agentName != null" >agentName = #{agentName},</if>			
			<if test="agentcontactsName != null" >agentcontactsName = #{agentcontactsName},</if>			
			<if test="agentContactsMobile != null" >agentContactsMobile = #{agentContactsMobile},</if>			
			<if test="agentaddress != null" >agentaddress = #{agentaddress},</if>			
			<if test="hits != null" >hits = #{hits},</if>			
			<if test="updateTime != null" >update_time = #{updateTime},</if>			
			<if test="createTime != null" >create_time = #{createTime},</if>			
    </set>
		 where id = #{id} 
  </update>
  
  
  <update id="updateByPrimaryKey" parameterType="com.smelter.model.test.Beftender" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Apr 21 10:36:00 CST 2015.
    -->
    update d_beftender
    set 
		uuid = #{uuid} ,
		uid = #{uid} ,
		ttype = #{ttype} ,
		title = #{title} ,
		amount = #{amount} ,
		interestrate = #{interestrate} ,
		phases = #{phases} ,
		repaymenttype = #{repaymenttype} ,
		provincecode = #{provincecode} ,
		provincename = #{provincename} ,
		citycode = #{citycode} ,
		cityname = #{cityname} ,
		countycode = #{countycode} ,
		countyname = #{countyname} ,
		origin = #{origin} ,
		parent_provincecode = #{parentProvincecode} ,
		parent_citycode = #{parentCitycode} ,
		parent_countycode = #{parentCountycode} ,
		education = #{education} ,
		industry = #{industry} ,
		marriage = #{marriage} ,
		peiouname = #{peiouname} ,
		peiouidcard = #{peiouidcard} ,
		peioutel = #{peioutel} ,
		idcard = #{idcard} ,
		address = #{address} ,
		company = #{company} ,
		companytele = #{companytele} ,
		companyaddr = #{companyaddr} ,
		currentaddr = #{currentaddr} ,
		homevisitsaadr = #{homevisitsaadr} ,
		homevisitsfrom = #{homevisitsfrom} ,
		homevisitsto = #{homevisitsto} ,
		lsreaded = #{lsreaded} ,
		agentid = #{agentid} ,
		tid = #{tid} ,
		homevisitover = #{homevisitover} ,
		agentName = #{agentName} ,
		agentcontactsName = #{agentcontactsName} ,
		agentContactsMobile = #{agentContactsMobile} ,
		agentaddress = #{agentaddress} ,
		hits = #{hits} ,
		update_time = #{updateTime} ,
		create_time = #{createTime} 
		 where id = #{id} 
  </update>
  
   <select id="getPageList"  parameterType="com.smelter.model.test.BeftenderExample" resultMap="BaseResultMap">
    <!--
      WARNING - @mbggenerated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from d_beftender
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
       order by ${orderByClause} 
    </if>
      limit ${startRow},${pageSize} 
  </select>

</mapper>

